<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="ACCOUNT-INFO" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/logs/account-info.log" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-15.15t] %-5p %-30.30c{1} - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.camel" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ACCOUNT-INFO" />
	</logger>

	<logger name="com.zenith" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ACCOUNT-INFO" />
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="ACCOUNT-INFO" />
	</root>
</log4j:configuration>